workflow/chatbot-voz.json
{
  "name": "chatbot-voz",
  "nodes": [
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $json.audio_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        -304
      ],
      "id": "75107e8c-4a49-4296-b19c-acc7bbb645bb",
      "name": "Extraer información del audio del mensaje",
      "credentials": {
        "httpBearerAuth": {
          "id": "ADVGaaBQR3MyG8VW",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        -304
      ],
      "id": "0e674395-6cb2-46bd-8ea9-981ed0097c5a",
      "name": "Extraer audio del mensaje",
      "credentials": {
        "httpBearerAuth": {
          "id": "ADVGaaBQR3MyG8VW",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        448,
        -304
      ],
      "id": "8c3eafb6-a8a6-45df-bfb0-6e7f6a506c41",
      "name": "Sacar texto",
      "credentials": {
        "googlePalmApi": {
          "id": "SeCrTTncIM1WuK4g",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a13687c8-49a8-48c8-aca4-68727bbfbb80",
              "leftValue": "={{ $json.type }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        112
      ],
      "id": "af4b3316-a5d0-41ef-9015-388c224ad726",
      "name": "Verificar si es audio o texto"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=Eres un asistente especializado en gestión de contactos y automatización empresarial.  \nTu función es interpretar mensajes de usuarios que llegan desde WhatsApp (en texto o transcritos desde audio)\ny extraer la información necesaria para crear, actualizar, eliminar o listar contactos en el CRM de Odoo.\n\n🎯 Objetivo\n\nAnalizar el mensaje recibido y determinar si el usuario quiere crear, actualizar, eliminar o listar contactos.  \nCuando se trate de creación o actualización, debes extraer los siguientes campos si están presentes:\n\n- Nombre completo del contacto  \n- Correo electrónico  \n- Número de teléfono\n\n📦 Formato de salida\n\nSiempre responde en formato JSON válido con las siguientes claves:\n\n{\n  \"action\": \"create_contact\" | \"update_contact\" | \"delete_contact\" | \"list_contacts\" | \"ignore\",\n  \"data\": {\n    \"id\": \"number | null\",\n    \"name\": \"string | null\",\n    \"email\": \"string | null\",\n    \"phone\": \"string | null\"\n  },\n  \"output_message\": \"string\"\n}\n\n🧩 Reglas de interpretación\n\n- Si el mensaje contiene instrucciones como “crear contacto”, “registra a”, “añadir cliente”, interpreta la acción como `\"create_contact\"`.\n- Si el mensaje menciona “lista contactos”, “muéstrame los contactos”, “ver contactos”, interpreta la acción como `\"list_contacts\"`.\n- Si el mensaje indica “actualiza”, “modifica”, “corrige”, interpreta la acción como `\"update_contact\"`.\n- Si el mensaje indica “elimina”, “borra”, “quita contacto”, interpreta la acción como `\"delete_contact\"`.\n- Los valores no mencionados deben ir como `null`.\n- Si el mensaje no tiene relación con contactos, devuelve `\"action\": \"ignore\"`.\n\n---\n\n🪄 Lógica interna de comportamiento\n\n➕ Creación de contacto (`create_contact`)\n1. Si se indica crear un contacto, extrae los datos disponibles (`name`, `email`, `phone`).\n2. Antes de crear, **verifica internamente** si ya existe un contacto con ese nombre, correo o teléfono.\n3. Si ya existe, responde con un mensaje como:\n   `\"⚠️ Ya existe un contacto llamado 'María Gómez'. ¿Deseas actualizarlo?\"`\n4. Si no existe, procede con la creación.\n\n---\n\n🧾 Listado de contactos (`list_contacts`)\n1. Si el usuario pide listar contactos, llama internamente a la herramienta de listado.\n2. Si hay contactos, genera un mensaje legible tipo:\n📇 Estos son tus contactos actuales:\n1️⃣ (ID: 8) María Gómez – maria.gomez@empresa.com – 3124567890\n2️⃣ (ID: 12) Juan Pérez – juanperez@gmail.com – 3109988776\n\nyaml\nCopiar código\nDonde se incluye el `id` de cada contacto al inicio.\n3. Si no hay ninguno, responde:\n`\"📭 No tienes contactos registrados en este momento.\"`\n\n---\n\n✏️ Actualización de contacto (`update_contact`)\n1. Primero **busca internamente** el contacto por nombre, correo o teléfono para obtener su `id`.\n2. Si no existe, responde:\n`\"⚠️ No encontré ningún contacto llamado 'Juan Pérez'. ¿Podrías verificar el nombre?\"`\n3. Si se encuentra el contacto, utiliza su `id` y los nuevos datos (`email`, `phone`, etc.) para actualizarlo.\n4. Devuelve un mensaje amigable como:\n`\"✅ Se actualizó correctamente el número de teléfono de 'Juan Pérez'.\"`\n\n---\n\n🗑️ Eliminación de contacto (`delete_contact`)\n1. Primero **busca internamente** el contacto por nombre, correo o teléfono para obtener su `id`.\n2. Si no se encuentra, responde:\n`\"⚠️ No encontré ningún contacto llamado 'María Gómez'. ¿Podrías verificar el nombre?\"`\n3. Si se encuentra, utiliza el `id` para eliminar el contacto.\n4. Devuelve un mensaje como:\n`\"🗑️ El contacto 'María Gómez' fue eliminado correctamente.\"`\n\n---\n\n💬 Ejemplos\n\nEntrada:\n“Crea contacto: María Gómez, correo maria.gomez@empresa.com, teléfono 3124567890”\n\nSalida:\n\n{\n\"action\": \"create_contact\",\n\"data\": {\n \"id\": null,\n \"name\": \"María Gómez\",\n \"email\": \"maria.gomez@empresa.com\",\n \"phone\": \"3124567890\"\n},\n\"output_message\": \"✅ Contacto 'María Gómez' registrado correctamente en tu lista de contactos.\"\n}\nEntrada:\n\n“Muéstrame los contactos que tengo actualmente”\n\nSalida:\n\n{\n  \"action\": \"list_contacts\",\n  \"data\": {\n    \"id\": null,\n    \"name\": null,\n    \"email\": null,\n    \"phone\": null\n  },\n  \"output_message\": \"📇 Estos son tus contactos actuales:\\n1️⃣ (ID: 8) María Gómez – maria.gomez@empresa.com – 3124567890\\n2️⃣ (ID: 12) Juan Pérez – juanperez@gmail.com – 3109988776\"\n}\n\nEntrada:\n\n“Actualiza el número de teléfono de Juan Pérez a 3214567890”\n\nSalida:\n\n- PASO 1:\n{\n  \"action\": \"list_contacts\",\n  \"data\": {\n    \"id\": null,\n    \"name\": null,\n    \"email\": null,\n    \"phone\": null\n  },\n  \"output_message\": \"📇 Estos son tus contactos actuales:\\n1️⃣ (ID: 8) María Gómez – maria.gomez@empresa.com – 3124567890\\n2️⃣ (ID: 12) Juan Pérez – juanperez@gmail.com – 3109988776\"\n}\n\nPASO 2 (extraes el id del paso 1):\n\n{\n  \"action\": \"update_contact\",\n  \"data\": {\n    \"id\": 12,\n    \"name\": \"Juan Pérez\",\n    \"email\": null,\n    \"phone\": \"3214567890\"\n  },\n  \"output_message\": \"✅ Se actualizó correctamente el número de teléfono de 'Juan Pérez'.\"\n\n}\n\nEntrada:\n\n“Elimina el contaco, María Gómez”\n\nSalida:\n\n- PASO 1:\n\n{\n  \"action\": \"list_contacts\",\n  \"data\": {\n    \"id\": null,\n    \"name\": null,\n    \"email\": null,\n    \"phone\": null\n  },\n  \"output_message\": \"📇 Estos son tus contactos actuales:\\n1️⃣ (ID: 8) María Gómez – maria.gomez@empresa.com – 3124567890\\n2️⃣ (ID: 12) Juan Pérez – juanperez@gmail.com – 3109988776\"\n}\n\nPASO 2 (extraes el id del paso 1):\n\n{\n  \"action\": \"delete_contact\",\n  \"data\": {\n    \"id\": 8,\n    \"name\": \"María Gómez\",\n    \"email\": null,\n    \"phone\": null\n  },\n  \"output_message\": \"🗑️ El contacto 'María Gómez' fue eliminado correctamente.\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1008,
        128
      ],
      "id": "e7068bb0-5571-4734-973b-9e5435f3dc2a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        336
      ],
      "id": "89c43723-31fb-43e8-b36f-3cf679858336",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SeCrTTncIM1WuK4g",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "This service create a new contact in odoo, this need a name, email and phone.",
        "contactName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
        "additionalFields": {
          "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
          "phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.odooTool",
      "typeVersion": 1,
      "position": [
        1216,
        336
      ],
      "id": "900a4f1b-692c-466e-b900-d0ae261d6d39",
      "name": "create_contact",
      "credentials": {
        "odooApi": {
          "id": "Ogp920Ri8KijBU6t",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "List contacts in odoo",
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {
          "fieldsList": []
        }
      },
      "type": "n8n-nodes-base.odooTool",
      "typeVersion": 1,
      "position": [
        960,
        336
      ],
      "id": "1633d892-1ef0-473c-884c-e12a90dab230",
      "name": "list_contacts",
      "credentials": {
        "odooApi": {
          "id": "Ogp920Ri8KijBU6t",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e5a13ec-d192-46e0-9cb4-eb05b0b300f4",
              "name": "phone_number_id",
              "value": "={{ $json.data[0].body.entry[0].changes[0].value.metadata.phone_number_id }}",
              "type": "string"
            },
            {
              "id": "4dc6fcd6-0668-40c1-a83b-c25afad049d8",
              "name": "type",
              "value": "={{ $json.data[0].body.entry[0].changes[0].value.messages[0].type }}",
              "type": "string"
            },
            {
              "id": "9999eacf-24bd-46a2-8997-108a96cfa583",
              "name": "phone_number",
              "value": "={{ $json.data[0].body.entry[0].changes[0].value.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "bf0915df-8ceb-409c-a885-de2a165bc294",
              "name": "audio_id",
              "value": "={{ $json.data[0].body.entry[0].changes[0].value.messages[0].audio.id }}",
              "type": "string"
            },
            {
              "id": "fb8272b8-b9d5-450f-a73c-f8ba4a8e59c6",
              "name": "text_message",
              "value": "={{ $json.data[0].body.entry[0].changes[0].value.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        112
      ],
      "id": "16dc66e3-fa65-4014-b7cc-621c189e6116",
      "name": "Extraer datos importantes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed0f4263-69da-41c5-96f7-ec7f36144880",
              "name": "message",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -304
      ],
      "id": "47528200-3dd2-4dd2-b3d9-f85897b592b4",
      "name": "sacar mensaje (voz)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48ee3b63-39ed-4e00-b6e6-7a6653670478",
              "name": "message",
              "value": "={{ $json.text_message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        128
      ],
      "id": "855df55c-ed72-4cf2-8813-eae93abf1467",
      "name": "sacar mensaje (text)"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1c46a683-a619-4fe8-84df-74ec07cf9ea6",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        16
      ],
      "id": "a9257b63-35a6-443b-97a0-af9ee575ddfc",
      "name": "Webhook",
      "webhookId": "1c46a683-a619-4fe8-84df-74ec07cf9ea6"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update contact information in odoo",
        "operation": "update",
        "contactId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contact_ID', ``, 'string') }}",
        "updateFields": {
          "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
          "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
          "phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.odooTool",
      "typeVersion": 1,
      "position": [
        1088,
        336
      ],
      "id": "81f57610-d693-4218-a655-fae90b6caa54",
      "name": "update_contact",
      "credentials": {
        "odooApi": {
          "id": "Ogp920Ri8KijBU6t",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Delete a contact in Odoo",
        "operation": "delete",
        "contactId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contact_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.odooTool",
      "typeVersion": 1,
      "position": [
        1344,
        336
      ],
      "id": "c695a5e2-a41f-41b4-b70a-e561c28645f4",
      "name": "delete_contact",
      "credentials": {
        "odooApi": {
          "id": "Ogp920Ri8KijBU6t",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  let output = item.json.output;\n\n  // Limpia el texto en caso de que esté envuelto en ```json ... ```\n  if (output.startsWith(\"```json\")) {\n    output = output.replace(/```json\\s*/, \"\"); // elimina el inicio ```json y salto\n    output = output.replace(/```$/, \"\");       // elimina el cierre ```\n    output = output.trim();\n  }\n\n  try {\n    if (!output.includes(\"{\")) {\n      item.json.message = output;\n    }else{\n    const parsed = JSON.parse(output);\n    item.json.message = parsed.output_message || \"⚠️ No se encontró mensaje de salida.\";\n    }\n  } catch (error) {\n    item.json.message = \"⚠️ Error al procesar el JSON: \" + error.message;\n  }\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -112
      ],
      "id": "054b1642-8943-4f7b-b79f-d3bb14d221ed",
      "name": "Extraer mensaje de respuesta"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extraer datos importantes').item.json.phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": {{ $('Extraer datos importantes').item.json.phone_number }},\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{$json[\"message\"].replace(/\\n/g, \"\\\\n\")}}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        -80
      ],
      "id": "6a15d95d-14c3-4733-96ec-0c1c03060834",
      "name": "Enviar mensaje de respuesta",
      "credentials": {
        "httpBearerAuth": {
          "id": "ADVGaaBQR3MyG8VW",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1568,
        224
      ],
      "id": "3221e88e-fdba-4269-beab-4e3ce69d0866",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "DSfsxFaB4EgTBTgo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $('Extraer datos importantes').item.json.phone_number_id }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        16
      ],
      "id": "e5e8e5de-be3d-4556-aba4-c3b906d96cca",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "ADVGaaBQR3MyG8VW",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.data = [{\"headers\": {\"host\": \"localhost:5678\",\"user-agent\": \"facebookexternalua\",\"content-length\": \"509\",\"accept\": \"application/json, text/plain, */*\",\"content-type\": \"application/json\",\"idempotency-key\": \"evt_4xMlu2LU49V4g92JRu\",\"x-hookdeck-attempt-count\": \"1\",\"x-hookdeck-attempt-trigger\": \"INITIAL\",\"x-hookdeck-connection-name\": \"default\",\"x-hookdeck-destination-name\": \"Source-default\",\"x-hookdeck-event-url\": \"https://dashboard.hookdeck.com/cli/events/evt_4xMlu2LU49V4g92JRu\",\"x-hookdeck-eventid\": \"evt_4xMlu2LU49V4g92JRu\",\"x-hookdeck-original-ip\": \"2a03:2880:12ff:1::\",\"x-hookdeck-requestid\": \"req_Cijwkob8dttzgm2ujr5Y\",\"x-hookdeck-signature\": \"tX9qMZyp4/uqnjYQ4sOeO/I1bNM+3NiQjL+V94dY2sE=\",\"x-hookdeck-source-name\": \"Source\",\"x-hookdeck-verified\": \"false\",\"x-hookdeck-will-retry-after\": \"\",\"x-hub-signature\": \"sha1=903bd5cf74afc064a83799c024dee1252d97c0cf\",\"x-hub-signature-256\": \"sha256=e09bb4a8ebca75ba61b66e4e22873daec61cf0d72a98652aec3acd1a32d9b666\",\"accept-encoding\": \"gzip\"},\"params\": {},\"query\": {},\"body\": {\"object\": \"whatsapp_business_account\",\"entry\": [{\"id\": \"2021864795312265\",\"changes\": [{\"value\": {\"messaging_product\": \"whatsapp\",\"metadata\": {\"display_phone_number\": \"15556300258\",\"phone_number_id\": \"861953340328352\"},\"contacts\": [{\"profile\": {\"name\": \"Jaycom\"},\"wa_id\": \"573217586380\"}],\"messages\": [{\"from\": \"573217586380\",\"id\": \"wamid.HBgMNTczMjE3NTg2MzgwFQIAEhggQUMwMTg2NzM2OERENUE3OEQyMjk1MjREQzEwNkNENUYA\",\"timestamp\": \"1760903071\",\"text\": {\"body\": \"crea una oportunidad que se llame algo 1\"},\"type\": \"text\"}]},\"field\": \"messages\"}]}]},\"webhookUrl\": \"http://localhost:5678/webhook-test/1c46a683-a619-4fe8-84df-74ec07cf9ea6\",\"executionMode\": \"test\"}]\n\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        272
      ],
      "id": "beb2eeab-e548-4886-b346-b192f7462f7d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Llama a la herramienta y crea una oportunidad en odoo con el nombre que quieras"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1024,
        -336
      ],
      "id": "6202f89d-a92e-4efa-b3cc-be1335fad272",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        912,
        -128
      ],
      "id": "33472849-5f9f-45c1-921c-02f0ded958b3",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "SeCrTTncIM1WuK4g",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8069/jsonrpc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"test-n8n\",     \n      2,             \n\"51ad3c30b2d2b724c0d80fdaa62f0a46422f3869\",  \n      \"crm.lead\",    \n      \"create\",      \n      [\n        {\n          \"name\": \"Lead desde n8n\",\n          \"contact_name\": \"Juan Pérez\",\n          \"email_from\": \"juan@example.com\"\n        }\n      ]\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        -32
      ],
      "id": "cb908bbd-29db-43cf-a6b1-46cc7c656c17",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "MKKsMpeG3762M6fP",
          "name": "odoo local"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "opportunityName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.odooTool",
      "typeVersion": 1,
      "position": [
        1200,
        -128
      ],
      "id": "4a04aba8-5c61-4557-8976-0242d54a0363",
      "name": "Create an opportunity in Odoo",
      "credentials": {
        "odooApi": {
          "id": "Uzw2Lhn2Nw9kby13",
          "name": "Odoo account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1056,
        -128
      ],
      "id": "6409be7f-c08b-4af0-bb92-634b4fe56628",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "Oxu2Qsukx5UZzuTe",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extraer información del audio del mensaje": {
      "main": [
        [
          {
            "node": "Extraer audio del mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer audio del mensaje": {
      "main": [
        [
          {
            "node": "Sacar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar si es audio o texto": {
      "main": [
        [
          {
            "node": "Extraer información del audio del mensaje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sacar mensaje (text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sacar texto": {
      "main": [
        [
          {
            "node": "sacar mensaje (voz)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "create_contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "list_contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extraer mensaje de respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos importantes": {
      "main": [
        [
          {
            "node": "Verificar si es audio o texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sacar mensaje (voz)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sacar mensaje (text)": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "update_contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "delete_contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extraer mensaje de respuesta": {
      "main": [
        [
          {
            "node": "Enviar mensaje de respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensaje de respuesta": {
      "main": [
        []
      ]
    },
    "Generate audio": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Enviar mensaje de respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Extraer datos importantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create an opportunity in Odoo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fb9b60ca-bbdc-42ce-bff1-c67c8ff0e5af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "15337ec1d168a7bc1b6cf37959bc4219a27286a5d587a46b9c9571e06d33f863"
  },
  "id": "ynHGjSsED1tPxLvd",
  "tags": []
}